In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.externals import joblib

In [2]:
df_train = pd.read_csv('data/application_train_clean.csv')
df_test = pd.read_csv('data/application_test_clean.csv')

df_train.head()

,sk_id_curr,target,is_revolving_loan,is_male,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,...,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0

# Separate Target

In [3]:
df_target = df_train[['sk_id_curr', 'target']]
df_train.drop(['sk_id_curr', 'target'], inplace=True, axis=1)
df_test.drop('sk_id_curr', inplace=True, axis=1)
print(df_train.shape)
print(df_test.shape)
df_target

(307511, 58)
(48744, 58)

        sk_id_curr  target
0           100002       1
1           100003       0
2           100004       0
3           100006       0
4           100007       0
5           100008       0
6           100009       0
7           100010       0
8           100011       0
9           100012       0
10          100014       0
11          100015       0
12          100016       0
13          100017       0
14          100018       0
15          100019       0
16          100020       0
17          100021       0
18          100022       0
19          100023       0
20          100024       0
21          100025       0
22          100026       0
23          100027       0
24          100029       0
25          100030       0
26          100031       1
27          100032       0
28          100033       0
29          100034       0
...            ...     ...
307481      456225       1
307482      456226       0
307483      456227       0
307484      456228       0
307485      456229       0
307486      456230       0
307487      456231       0
307488      456232       0
307489      456233       1
307490      456234       0
307491      456235       0
307492      456236       0
307493      456237       0
307494      456238       0
307495      456239       0
307496      456240       0
307497      456241       0
307498      456242       0
307499      456243       0
307500      456244       0
307501      456245       0
307502      456246       0
307503      456247       0
307504      456248       0
307505      456249       0
307506      456251       0
307507      456252       0
307508      456253       0
307509      456254       1
307510      456255       0

[307511 rows x 2 columns]

In [4]:
train = df_train.values
test = df_test.values

# Scaling

In [5]:
scaler = StandardScaler()
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

# PCA

In [6]:
pca = PCA(n_components=38, random_state=42)
pca.fit(train)
train = pca.transform(train)
test = pca.transform(test)
sum(pca.explained_variance_ratio_)

0.8535961846118231

85% variance explained, shaved an additional 20 columns off.

# Pickle

In [7]:
with open('pca.pkl', 'wb') as f:
    joblib.dump(pca, f)
with open('data/train.pkl', 'wb') as f:
    joblib.dump(train, f)
with open('data/test.pkl', 'wb') as f:
    joblib.dump(test, f)

In [8]:
with open('pca.pkl', 'rb') as f:
    model = joblib.load(f)
sum(model.explained_variance_ratio_)

0.8535961846118231

Pickle successful.